.card{
    width: 200px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    position: relative;
    overflow: visible;
    height: fit-content;
}
.card-image{
    border-radius: 10px;
    margin: 16px;
    margin-bottom: 0px;
    max-width:  calc(200px - 32px);
    max-height: calc(200px - 32px);
}
.card-image-holder{
    border-radius: 20px;
}
.card-caption{
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    height: 32px;
    display: flex;
    justify-content: center;
    font-family: "Poppins";
    font-size: 10px;
    text-overflow: ellipsis;
}
.card-title{
    margin: 0px;
    margin-left: 8px;
    margin-right: 8px;
    text-overflow: ellipsis;
    overflow: hidden;
    text-align: center;
    word-break: break-all;
}

.card-context{
    position: absolute;
    bottom: 0;
    right: 0;
    z-index: 999;
}

#overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,0,0,0);
    z-index: 8;
    cursor: pointer;
}