.card{
    width: 200px;
    background-color: #1e1e1e !important;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    padding-bottom: 10px;
    position: relative;
    overflow: visible;
    height: fit-content;
}
.card-image{
    border-radius: 10px;
    margin: 16px;
    max-width:  calc(200px - 32px);
    max-height: calc(200px - 32px);
}
.card-image-holder{
    border-radius: 20px;
    background-color: #25272A;
}
.card-caption{
    background: #1e1e1e;
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    height: 100%;
    display: flex;
    justify-content: center;
    color: #ad9375;
    font-family: "Poppins";
    font-size: 10px;
}
.card-caption > *{
    margin-top: 0px;
}

#overlay {
    position: absolute;
    display: float;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(255,0,0,0);
    z-index: 999;
    cursor: pointer;
  }