.sidebar {
    height: 100%;
    width: 64px;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #373B41;
    padding-top: 0px;
    z-index: 99999;
}

.sidebar-align-center{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.sidebar > * > *{
    margin-top: 4px;
    margin-bottom: 4px;
}

.sidebar-back-button, md-filled-icon-button, md-icon-button {
    --md-icon-button-icon-color: var(--icon-button-color);
    --md-icon-button-hover-icon-color: var(--icon-button-hover-color);
}