.context-menu-container, .context-menu-list{
    background-color: var(--md-sys-color-surface-variant) !important;
    border: 1.5px solid var(--md-sys-color-outline) !important;
    color: var(--md-sys-color-on-primary-container) !important;
    border-radius: 10px !important;
    /* background-color: brown; */
    position: absolute;
    margin: 0px;
    width: 200px;
    z-index: 999999999999999 !important;
    display: none;
}
.context-menu-color{
    background-color: var(--md-sys-color-surface-variant);
    border: 1.5px solid var(--md-sys-color-outline);
    color: var(--md-sys-color-on-primary-container);
    border-radius: 10px;
}
.context-menu-color > li > span{
    color: var(--md-sys-color-on-primary-container) !important;
}
.context-menu, .context-menu-list{
    list-style: none;
    padding: 0px;
    margin: 0px;
    border-radius: 10px;
    margin: 6px;
}
.context-menu > li, .popout-menu > li, .context-menu-list > li{
    list-style: none;
    padding: 6px;
    cursor: pointer;
    display: flex;
    align-items: center;
    
}
.context-menu > li > md-icon, .popout-menu > li > md-icon{
    margin-right: 6px;
}

.context-menu > li:hover, .popout-menu > li:hover{
    background-color: color-mix(in srgb, var(--md-sys-color-surface-variant) 50%, var(--md-sys-color-surface));
    border-radius: 6px;
}

.popout-menu{
    /* background-color: red; */
    list-style: none;
    position:absolute;
    right:-172px;
    margin-top: -44px;
    display: none;
    flex-direction: column;
    padding: 6px;
    max-width: 158px;
    min-width: 158px;
}
.popout-menu > li{
    width: calc(158px - 12px);
}
li > md-icon[slot="ended"]{
    position: absolute;
    right: 2px;
}
.mdicon{
    content: "<md-icon>chevron_right</md-icon>";
}