#login-root{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: var(--md-sys-color-surface);
}
#login-box{
    background: var(--md-sys-color-surface-variant);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 300px;
}
#login-box > md-filled-button{
    margin-top: 8px;
    margin-bottom: 16px;
}
#login-box > md-outlined-text-field{
    margin-bottom: 8px;
}
h1{
    color: var(--md-sys-color-on-surface-variant);
}
#login-root-2{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: var(--md-sys-color-surface);
}
#login-down{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    background: var(--md-sys-color-surface);
}
#login-down{
    text-align: center;
}
#login-box-down{
    background: var(--md-sys-color-surface-variant);
    border-radius: 32px;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    width: 500px;
}
#login-box-down > :nth-child(2){
    margin-top: 4px;
}
#login-box-down > :nth-child(1){
    margin-bottom: 4px;
}