#queue-list{
    width: 100%;
}

#queue-list-item{
    margin-right: 0px !important;
    width: 100%;
    margin-right: 16px !important;
    /* margin-bottom: 0px !important; */
    /* background-color: red; */
}
#queue-list-item  > span.list-header{
    font-size: 20px;
}
#queue-list-item > img, #image-container > img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 8px;
}
#queue-list-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* background-color: purple; */
}
#queue-list-item{
    height: 74px;
}
#queue-list-item > div{
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
}
#queue-list-item > div#song-container{
    top: 0px;
    left: 84px;
}
#queue-list-item > div#duration-container{
    position: absolute;
    top: 0px;
    right: 24px;
}
.pseudo-link:hover{
    /* text-decoration: underline; */
    cursor: pointer;
    color: color-mix(in srgb, var(--md-sys-color-on-primary-container), var(--md-sys-color-primary) 80%);
    transition: color 0.2s ease-in-out;
}
.pseudo-link{
    transition: color 0.2s ease-in-out;
}
.oneline {
    /* width: 100%; */
    font-size: 16px; /* Adjust the font size as needed */
    /* line-height: 16px; Set the same value as the font size */
    overflow: hidden; /* Optional: hide any overflow text */
    white-space: nowrap; /* Optional: prevent wrapping */
  }