#content{
    margin-top: 0px !important;
    padding-top: 16px;
}

body{
    --md-icon-font: "Material Symbols Outlined";
    background: var(--md-sys-color-surface-variant);
    margin: 0px;
}


h1,h2,h3,h4,h5,h6,span,md-primary-tab,md-filled-button,md-outlined-text-field,input {
    font-family: "Poppins" !important;
}
.input{
    font-family: "Poppins" !important;
}

html{
    background: var(--md-sys-color-surface-variant);
    /* background: url("../bg.jpg"); */
    /* background-repeat:space */
    background-size: auto;
    font-family: "Poppins" !important;
  --md-sys-typescale-body-large: 400 3rem system-ui;
}

.playercontrols-bottom{
    /* border-top: var(--md-sys-color-tertiary) 2px solid; */
    background: var(--md-sys-color-surface-variant)

    /* background: #00000000; */
    /* backdrop-filter: blur(16px); */
    /* border-radius: 16px; */
}
.playercontrols-box > div[progress="1"] > md-linear-progress{
    /* --md-linear-progress-track-color: var(--md-sys-color-primary-container); */
    /* --md-linear-progress-active-indicator-color: var(--md-sys-color-primary); */
}
.playercontrols-box > div[progress="0"] > *{
    /* --md-filled-tonal-button-container-color: var(--md-sys-color-primary-container); */
}
.card{
    background-color: var(--md-sys-color-secondary-container);
}
.card-caption{
    background-color: var(--md-sys-color-secondary-container);
    color: var(--md-sys-color-secondary);
}
.sidebar{
    background-color: var(--md-sys-color-surface-variant);
}
.header{
    background-color: var(--md-sys-color-surface-variant);
    color: var(--md-sys-color-on-surface-variant)
}
#content-container{
    background: var(--md-sys-color-surface);
}
md-dialog{
    --md-dialog-container-color: var(--md-sys-color-surface-variant)
}