.playercontrols-bottom{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 64px;
    width: 100%;
    position: fixed;
    bottom: 0;
    /* left: 0; */
    padding-top: 16px;
    padding-bottom: 16px;
    z-index: 2;
}

.playercontrols-box{
    /* align-self: center; */
    width: calc(100% - 32px);
    margin-right: 16px;
    margin-left: 16px;
}

.playercontrols-box > div{
    /* display: flex; */
    /* align-items: center; */
    /* justify-content: center; */
    /* justify-content: none; */
    /* width: calc(100%-16px); */
    /* padding-left: 8px; */
    /* padding-right: 8px; */
    /* overflow: auto; */
}

.playercontrols-spacer{
    height: 10px;
}

div[progress="1"] > md-linear-progress{
    --md-linear-progress-track-height: 8px;
    --md-linear-progress-track-shape:  8px;
    --md-linear-progress-active-indicator-height: 8px;
    width: 100%;
}

.buttons > md-filled-button{
    margin-left: 4px;
    margin-right: 4px;
}

.buttons >  md-icon-button{
    margin-left: 4px;
    margin-right: 4px;
}

.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.togglebutton-activated {
    color: var(--md-sys-color-primary);
}

 div[progress="0"]{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0 auto;
}

md-icon{
    font-size: 24px;
    width: 24px;
    height: 24px;
}

.playercontrols-box-start{
    display: flex;
    flex-direction: column;
    justify-self: left;
    visibility: hidden;
    pointer-events: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    /* max-width: 33.333333%; */
}

#playercontrols-box-volume{
    display: flex;
    justify-self: end;
    align-items: center;
}
#playercontrols-box-volume > md-icon-button{
    font-size: 24px;
    /* width: 24px; */
    /* height: 24px; */
}
    