@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined:wght@200,opsz,FILL,GRAD@20");
@import url("styles/theme.css");

@import url("styles/snackbar.css");
@import url("styles/cards/cards.css");
@import url("styles/bottom/playercontrols.css");
@import url("styles/sidebar/sidebar.css");
@import url("styles/top/header.css");
@import url("styles/settings.css");
@import url("styles/login.css");


#content{
    padding-left: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#content > * {
    margin-right: 16px;
    margin-bottom: 16px;
}
.fab{
    position: fixed;
    bottom: 104px;
    right:  24px;
}
m3-playercontrols-bottom{
    position: fixed;
    z-index: 999999999;
}


#queue-list{
    width: 100%;
}

#queue-list-item{
    margin-right: 0px !important;
    width: 100%;
    margin-right: 16px !important;
    /* margin-bottom: 0px !important; */
    /* background-color: red; */
}
#queue-list-item  > span.list-header{
    font-size: 20px;
}
#queue-list-item > img, #image-container > img{
    max-width: 50px;
    max-height: 50px;
    border-radius: 8px;
}
#queue-list-item {
    display: flex;
    flex-direction: row;
    width: 100%;
    /* background-color: purple; */
}
#queue-list-item{
    height: 74px;
}
#queue-list-item > div{
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
}
#queue-list-item > div#song-container{
    top: 0px;
    left: 84px;
}
#queue-list-item > div#duration-container{
    position: absolute;
    top: 0px;
    right: 24px;
}
*[slot="end"]{
    justify-content: end;
}
*[slot="start"]{
    justify-content: end;
}