@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Symbols+Outlined:wght@200,opsz,FILL,GRAD@20");
@import url("styles/theme.css");

@import url("styles/snackbar.css");
@import url("styles/context-menu.css");
@import url("styles/cards/cards.css");
@import url("styles/bottom/playercontrols.css");
@import url("styles/sidebar/sidebar.css");
@import url("styles/top/header.css");
@import url("styles/settings.css");
@import url("styles/queue.css");
@import url("styles/login.css");


#content{
    padding-left: 16px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

#content > * {
    margin-right: 16px;
    margin-bottom: 16px;
}
.fab{
    position: fixed;
    bottom: 104px;
    right:  24px;
}
m3-playercontrols-bottom{
    position: fixed;
    z-index: 999999999;
}

*[slot="end"]{
    justify-content: end;
}
*[slot="start"]{
    justify-content: end;
}